@import url('https://fonts.googleapis.com/css?family=Sigmar+One');
body {
  background-color: #EFF0F1 !important;
}
.jumbotron {
  background-color: #540779 !important;
  box-shadow: 0px 3px 5px #888888;
  color: white !important;
  font-family: 'Sigmar One', cursive;
}
.url:focus {
  box-shadow: none;
  border-color: #cccccc;
}
.url-container {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
}
#longURL{
    width: 400px;
    padding: 30px;
    font-size: 18px;
    border-radius: 10px;
}
.not-visible {
  display: none;
}
#result {
  padding: 10px 0px 10px 0px;
  margin-bottom: 25px;
  color: #540779;
  font-family: Verdana;
}
a {
  font-size: 24px;
  color: #540779;
}
a:hover {
  color: #E44E40;
}
.btn {
  background-color: #540779;
  color: white;
  border: none;
}
.btn:hover {
  background-color: #540779;
  color: white;
  border: none;
}

#submitBtn.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    padding: 18px !important;
    border-radius: 10px !important;
    font-size: 18px !important;
    outline: none;
}
/* Copy Text  */

.label {
	padding: 10px;
	font-size: 18px;
	color: #111;
}
.copy-text {
	position: relative;
	padding: 10px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 10px;
	display: flex;
}
.copy-text input.text {
	padding: 10px;
	font-size: 18px;
	color: #555;
	border: none;
	outline: none;
    width: 400px;
}
.copy-text button {
	padding: 10px;
	background: #5784f5;
	color: #fff;
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 10px;
	cursor: pointer;
}

.copy-text button:active {
	background: #809ce2;
}
.copy-text button:before {
	content: "Copied";
	position: absolute;
	top: -45px;
	right: 0px;
	background: #5c81dc;
	padding: 8px 10px;
	border-radius: 20px;
	font-size: 15px;
	display: none;
}
.copy-text button:after {
	content: "";
	position: absolute;
	top: -20px;
	right: 25px;
	width: 10px;
	height: 10px;
	background: #5c81dc;
	transform: rotate(45deg);
	display: none;
}
.copy-text.active button:before,
.copy-text.active button:after {
	display: block;
}